@charset "utf-8";
   /* em html é id = em css é # ( só pode um elemento )
      em html é class = em csss é . ( pode vários elementos)
   */

body {
    background-color: aqua;
    font-family:Arial, Helvetica, sans-serif
}
h1 {
    color:rgb(5, 46, 46);
}
h1#principal {
    text-align: center;
    background-color:green;
    color: white;
}

.basico{
       color: darkgreen;
}
.intermediario {
    color:  rgb(255, 208, 0);

}

    .avançado{
          color:  rgb(209, 44, 38);
    }

    .destaque{
         background-color: rgb(210, 231, 19);
    }