@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family:'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;

}
:root {
    --cor1:#c5ebd6;
    --cor2:#83e1ad;
    --cor3:#3ddc84;
    --cor4:#2fa866;
    --cor5:#1a5c37;
    --cor6:#063d1e;

    --fonte-padrao:Arial, verdana, helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-
}
body {
    background-color: aqua;
}
header > h1 {
   color: var(--cor5);
}

main h1 {
    color: var(--cor5);
}