@charset "utf-8";
body {
    background-color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
h1 {
    color: darkblue;
}
h2 {
color: darkred;
 background-color: blue;
}
p {
text-align: justify;
}