@charset "utf-8";


  * {
    padding: 0px;
    margin: 0px;
  }
header {
    background-image: linear-gradient(to bottom, blue,  transparent);
    text-align: center;
    margin: 0px;
    padding: 50px;
}

main{
    background-color: rgb(86, 201, 86);
    margin: 0px;
    padding: 0px;
}

h1#principal {
    font-weight: bolder;
    font-size: 1,3vw;
}
p {
    text-indent: 40px;
    text-decoration: justify;
    margin: 15px 0px;
}
h2 {
    margin: 0px;
}
h3 {
    background-image: linear-gradient(to right, rgb(45, 189, 45), white);
}

article {
    background-color: white ;
    margin: 0px 100px 0px 100px;
    padding: 0px 100px 0px 100px;
}
picture {
    margin: auto;
}