@charset "utf-8";


header {
    background-image: linear-gradient(to top, rgb(54, 48, 48), green);
    text-align: center;
    margin: 0px;
    padding: 50px;
}

main{
    background-color: rgb(86, 201, 86);
    margin: 0px;
    padding: 0px;
}
p {
    text-indent: 40px;
    text-decoration: justify;
}
h2 {
    margin: 0px;
}
h3 {
    background-image: linear-gradient(to right, rgb(45, 189, 45), white);
}

article {
    background-color: white ;
    margin: 0px 100px 0px 100px;
    padding: 0px 100px 0px 100px;
}
picture {
    margin: auto;
}