@charset "UTF-8";
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

 body {
     background-image: linear-gradient(to right , #44803F , #B4CF66 );
 }

 main {
    background-color: white ;
    border-radius: 10px;
    box-shadow: 10px 10px 1px red;
    width: 600px;
    padding: 15px;
    margin: auto;
 }

 h1 {
    color:#FF5A33;
    text-align: center ;
    text-shadow: 1px 1px 2px #4d582b94;
 }

 h2 {
    color: #2a2ae2;
 }

p {
    text-align: justify;
}